.h-100 {
	height: 100% !important;
}

.d-flex {
	display: flex !important;
}

.flex-column {
	flex-direction: column !important;
}

.bg-light {
	background-color: rgba(0, 0, 0, 0.2);
}

.py-3 {
	padding-top: 1rem !important;
	padding-bottom: 1rem !important;
}

.mt-auto {
	margin-top: auto !important;
}

.row {
	margin: 0;
}
