include header.pug
            each product in products
                div.productDiv
                    img(src=product.imgSrc).productImg
                    h4 = product.productName
                    p = product.price

include footer.pug