include header.pug
            div #loginDiv
                form(action="")
                    label(for="username") User name
                    input(type="text")#username
                    label(for="pwd") Password 
                    input(type="text")#pwd
                    input(type="submit" value="submit")
include footer.pug