include header.pug
div.col-md-10
    if(shoppingCart.length > 0)
        table.table
            th(scope="col")
            th(scope="col")
            th(scope="col")
            th(scope="col")
            tbody
            each item in shoppingCart
                tr(scope="row")
                    td=item.productName
                    td
                        form(action="deleteFromCart()" method="UPDATE")
                            input(type="submit" value="ta bort")
            td=item.totalPrice
            form.inputForm(action='/createOrder', method='POST')
                input.btnInpt(type='submit', value='Bekräfta beställning')    
    else
        div.container
            h1 Cart is empty.
include footer.pug