doctype html
html
    head
        title="D0018E"
        meta(charset="utf-8")
        style
          include ./style.css
        link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous")
        script(src="./app.js")


    body
      nav#navBar.navbar.navbar-expand-sm.bg-light.navbar-light.fixed-top
        div.container
          div.row
            div.col-md-9
              h1.logo D0018E Webbshop
            div.col-md-3.justify-content-center.my-auto
              a(href="loginPage.html", action="getLoginPage()").btn.btn-default Login
              a(href="cart.html", action="getCart()").btn.btn-default Shopping Cart
              a(href="/newProduct", action="getNP()").btn.btn-default Add Products

      div.col-md-2
        p Kategorier
        ul
          li
            a(href="") Matematik
          li
            a(href="") Programmering
          li
            a(href="") Fysik

