doctype html
html
    head
      title="D0018E"
      meta(charset="utf-8")
      link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css' integrity='sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u' crossorigin='anonymous')
      link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
      script(src="./app.js")
      script(type="text/javascript" src="Scripts/bootstrap.min.js")
      script(type="text/javascript" src="Scripts/jquery-2.1.1.min.js")
      script(src ="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js")
      script(src ="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js")
      script(src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous")
    body
      nav.navbar.navbar-default
        div.container-fluid
          div.navbar-header
            a.navbar-brand(href="/") D0018E Webbshop
          div.collapsable.navbar-collapse(id="bs-example-navbar-collapse-1")
            ul.nav.navbar-nav 
              if (login)
                li
                  a(href="/cart", action="getCart()").btn.btn-default Shopping Cart 
                    img(src="./img/cart.svg")
                  
                li.dropdown
                  a.dropdown-toggle(href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false") Kategorier
                    span.caret
                  ul.dropdown-menu
                    each c in cat
                      li
                        a.btn.btn-default(href='/c?cat='+ c.subjectId +'')=c.catName
                li 
                  a(href="/logout", action="GET").btn.btn-default Logout
              else 
                li
                  a(href="/loginPage", action="GET").btn.btn-default Login
                li.dropdown
                  a.dropdown-toggle(href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false") Kategorier
                    span.caret
                  ul.dropdown-menu
                    each c in cat
                      li
                        a.btn.btn-default(href='/c?cat='+ c.subjectId +'')=c.catName
              if (login && af)
                li
                  a(href="/adminPage", action="").btn.btn-default Admin Page



