include header.pug
div.row
    div.col-md-10
        if (message.length > 0 )
            div.alert.alert-warning(role="alert")
                p=message
        if (itemList.length == 0)
            div.alert.alert-warning(role="alert")
                p Inga produkter hittades.
        else
            each item in itemList
                div.col-md-3
                    a(href='/p?product='+ item.link+'')
                        img.img.img-thumbnail(src=("" + "./img/" + item.link + ".png"))
                        h4=item.productName
                    p=item.price+" kr"

include footer.pug