include header.pug
div.col-md-10
        if(itemList.length > 0)
            each item in itemList
                div.col-md-3
                    img.img.img-thumbnail(src=("" + "./img/" + item.link + ".png"))
                    a(href='/p?product='+ item.link+'')
                        h4=item.productName
                    p=item.price
        else
            div.container
                h1 No items!

include footer.pug