include header.pug
div.col-md-10
    if(message)
        div.alert.alert-warning(role="alert")
        p=message
    div.col-md-6
        form.inputForm(action='/loginUser', method='POST')
            p
            | E-mail:
            br
            input(type='text', name='email', value='')
            br
            | Password
            br
            input(type='text', name='pw', value='')
            br
            input.btnInpt(type='submit', value='Login')

    div.col-md-6
        form.inputForm(action='/createUser', method='POST')
            p
            | Firstname:
            br
            input(type='text', name='Cfn', value='')
            br
            | Lastname:
            br
            input(type='text', name='Cln', value='')
            br
            | E-mail:
            br
            input(type='text', name='Cemail', value='')
            br
            | Password
            br
            input(type='text', name='Cpw', value='')
            br
            input.btnInpt(type='submit', value='create account')
include footer.pug