include header.pug
div.col-md-10
    div.col-md-6
        form.inputForm(action='/loginUser', method='POST')
            p
            | E-mail:
            br
            input(type='text', name='email', value='')
            br
            | Password
            br
            input(type='text', name='pw', value='')
            br
            input.btnInpt(type='submit', value='Login')

    div.col-md-6
        form.inputForm(action='/createUser', method='POST')
            p
            | E-mail:
            br
            input(type='text', name='email', value='')
            br
            | Password
            br
            input(type='text', name='pw', value='')
            br
            input.btnInpt(type='submit', value='create account')
include footer.pug