include header.pug
div.col-md-10
    if (items.length > 0)
        each item in items
            div.card
                div.row
                    div.col-md-4 
                        img.card-img-top.img-thumbnail.img-fluid(src=("" + "./img/" + item.assId + ".png"))
                    div.col-md-8.px-3 
                        div.card-block.px-3 
                           h1.card-title=item.productName 
                            h3=item.price
                            p.card-text=item.stock
                            if (login)
                                a(href="/addToCart")
                                    button.btn.btn-primary
                            else
                                button.btn.btn-primary(disabled="disabled") Login to purchase
                            p.card-text=item.description
    else
        div.container
            h1 No items!

include footer.pug