include header.pug
div.col-md-10
    if(items.length > 0)
        each item in items
            h1=item.productName 
            h2=item.price
            p=item.stock
            a(href="" action="") länk
            p=item.description
    else
        div.container
            h1 No items!

include footer.pug