#navBar{
    background: linear-gradient(90deg, rgba(255,105,171,1) 0%, rgba(148,187,233,1) 100%);
}

.productDiv{
    height: 10%;
    width: 15%;
    background-color: blue;
}
.productImg{
    height: 10%;

}

#headerText{
    text-decoration: none;
    color:black;
}